*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #04050A;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #04050A;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 107, 0, .25);
  border-radius: 2px;
}